.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  position: relative;

  .nav-brand {
    width: 100px;
    @include for-tablet-portrait-up {
      margin: 0 1rem;
    }
  }

  .nav-menu {
    list-style: none;
    // opacity: 0;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    color: #fff;
    gap: 1.5rem;
    opacity: 0;
    &.mobile-menu {
      background-color: $grey-color;
      opacity: 1;
      z-index: 4;
    }
    @include for-tablet-portrait-up {
      position: static;
      flex-direction: row;
      justify-content: flex-end;
      gap: 2.5rem;
      opacity: 1;
      z-index: 4;
      background-color: transparent;
      color: $dark-color;
    }
    .nav-menu-item {
      a {
        text-decoration: none;
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        transition: $transition;
        &.current {
          color: $primary-color;
        }
        &:hover {
          color: $primary-color;
        }
        @include for-tablet-portrait-up {
          color: $dark-color;
          font-size: 17px;
        }
      }
    }
  }
  .mobile-menu + .nav-toggler-container {
    position: fixed;
    top: 3%;
    right: 6%;
  }
  .nav-toggler-container {
    z-index: 4;
    position: absolute;
    right: 2%;
    top: 32%;
    @include for-tablet-portrait-up {
      display: none;
      position: static;
    }
    .nav-toggler {
      color: $primary-color;
      font-size: 1.5rem;
      @include for-tablet-portrait-up {
        color: $grey-color;
      }
    }
  }
}
